rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read and write for the entire bucket to resolve "Insufficient Permissions"
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}